body {
    background-color: lightgrey;
    background-image: url("../images/background-img.jpg");
}

h2 {
    color: orange;
}

p {
    font-weight: bold;
}

.text-center {
    text-align: center;
}
